<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
	http://www.springframework.org/schema/security 
	http://www.springframework.org/schema/security/spring-security-3.2.xsd">

	<http auto-config="true" use-expressions="true">
		<intercept-url pattern="/index.xhtml" access="hasRole('ROLE_USER')" />
		<form-login login-page="/login.xhtml"
			authentication-failure-url="/login.xhtml?erro=true" />
		<logout logout-success-url="/login.xhtml" />
	</http>
	<!-- Configuração DataSource JDBC Template -->
	<beans:bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<beans:property name="driverClassName" value="org.postgresql.Driver" />
		
		<!-- Configuração de Local -->
		<beans:property name="url" value="jdbc:postgresql://localhost:5432/AlmoxarifadoBD" />
		<beans:property name="username" value="postgres" />
		<beans:property name="password" value="280394" />
	
	</beans:bean>
	
	<!-- Selecione os Usuários e Seus Papeis do Banco de Dados 
	<authentication-manager>
		<authentication-provider>
			<jdbc-user-service data-source-ref="dataSource"
				users-by-username-query="SELECT username, password, 'true' as enable FROM users WHERE username=?"
				authorities-by-username-query="SELECT username, authority FROM users WHERE username=?" />
		</authentication-provider>
	</authentication-manager>
-->


<!-- Autenticação Manual -->

	<authentication-manager>
		<authentication-provider>
			<user-service>
				<user name="admin" password="admin" authorities="ROLE_USER" />
			</user-service>
		</authentication-provider>
	</authentication-manager> 

</beans:beans>


